
.page-header {
    background-color: #e10600; 
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    border-bottom: 5px solid #1a1a1a; 
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-family: 'Lobster', cursive; 
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.content {
    margin-left: 40px;
    background-color: #ffffff;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    color: #1a1a1a;
}

.date {
    color: #828282;
    font-style: italic;
}

.post {
    margin-bottom: 70px;
    padding: 20px;
    border-left: 10px solid #e10600; 
    background-color: #f9f9f9;
}

.post h2 a, .post h2 a:visited {
    color: #e10600;
    text-decoration: none;
}

.post h2 a:hover {
    color: #1a1a1a;
}


.post p {
    line-height: 1.6;
    color: #333333;
}